.padding_top_100{
    padding-top: 100px;
}
.padding_top_50{
    padding-top: 50px;
}
.title{
    font-size: 16pt;
    font-weight: bold;
}
.limited-text{
    /* white-space: nowrap;  */
    overflow: scroll;
    height: 150px;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 12pt;
}
.limited-text:hover{
    /* white-space: nowrap;  */
    font-size: 13pt;
    font-weight: bold;
}
.hinhanh-card{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    max-width: 800px;
    height: auto;
}
.hinhanh-card:hover{
    border: 1px solid blueviolet;
    border-radius: 7px;
    padding: 8px;
}

.nav-myfont{
    font-size: 14pt;
}


.text {
    position: relative;
    font-size: 14px;
    color: black;
    width: 160px; /* Could be anything you like. */
  }

  .text_limit_card{
    position: relative;
    font-size: 14px;
    color: black;
    font-family: sans-serif;
    width: 170px; /* Could be anything you like. */
    height: 60px;
    overflow: hidden;
  }

  .text_limit_card2{
    position: relative;
    font-size: 14px;
    color: black;
    font-family: sans-serif;
    width: 150px; /* Could be anything you like. */
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text_limit_card_title_danhsach{
    position: relative;
    font-size: 14px;
    color: black;
    font-family: sans-serif;
    width: 350px; /* Could be anything you like. */
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .text_limit_card_content_danhsach{
    position: relative;
    font-size: 14px;
    color: black;
    font-family: sans-serif;
    width: 350px; /* Could be anything you like. */
    height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
  }







  .darkslategray{
      height: 780px;
      background-color: darkslategray;
  }


.footer{
background: #2F4F4F;
color:white;
height: 300px;

.links{
    ul {list-style-type: none;}
    li a{
    color: white;
    transition: color .2s;
    &:hover{
        text-decoration:none;
        color: blue;
        }
    }
}
.about-company{
    i{font-size: 25px;}
    a{
    color:white;
    transition: color .2s;
    &:hover{color:#4180CB}
    }
}
.location{
    i{font-size: 18px;}
}
.copyright p{border-top:1px solid rgba(255,255,255,.1);}
}

a{
    color:black;
}
a:hover {
    text-decoration: none;
    color: lightseagreen;
  }


.chitietbaiviet img{
    width: 80%;
    height: auto;
    max-width: 800px;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 20px 0 ;
}
.footer a{
    color: white;
}
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}




.a_hover:hover{
    font-size: 14pt;
    font-weight: bold;
}
.card-title{
    font-weight: bold;
}

#white{
    color: white;
}

#noidung{
    text-align: justify;
}


#acustom-xoa{
    float: right;
    padding: 0 5px 0 10px;
    font-size: 10pt;
    color: red;
}

#acustom-sua{
    float: right;
    padding: 0 5px 0 10px;
    font-size: 10pt;
    color: rgb(29, 97, 119);
}
#acustom-ban{
    float: right;
    padding: 0 5px 0 10px;
    font-size: 10pt;
    color: rgb(255, 165, 80);
}



#binhluan-card{
    border-radius: 20px;
}
.card:hover{
    transition: all 0.2s ease-out;
    top: -1px;
    box-shadow: 0px 4px 8px rgb(97, 158, 158);
}

#binhluan-card-header{
    height: 40px;
    background-color: darkslategray;
    border-radius: 15px 15px 0px 0px;
    color: white;
}

#button-xemthem{
    border-radius: 10px;
    border: 1px solid darkslategray;
}
#button-xemthem:hover{
    color: white;
    background-color: darkslategray;
}

#button-quaylai{
    border-radius: 10px;
    border: 1px solid rgb(73, 124, 124);
}
#button-quaylai:hover{
    color: white;
    background-color:  rgb(73, 124, 124);
}

.modalcustom{
    border-radius: 20px;
}

.modalcustom-header{
    border-radius: 15px 15px 0px 0px;
    background-color: darkslategray;
    color: white
}
.modalcustom-body textarea{
    border: none;
    overflow: auto;
}
.modalcustom-body button{
    border-radius: 10px;
    border: 1px solid rgb(73, 124, 124);
}

.modalcustom-body .btn-dong{
    border: 1px solid  rgb(73, 124, 124);
    color: rgb(73, 124, 124);
}
.modalcustom-body .btn-dong:hover{
    background-color: rgb(73, 124, 124);
    color: white;
}
.modalcustom-body .btn-sua{
    border: 1px solid  darkslategray;
    color: darkslategray;
}

.modalcustom-body .btn-sua:hover{
    background-color: darkslategray;
    color: white;
}

.card-bottom{
    position: absolute;
    bottom: 10px;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 50px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid rgb(247, 175, 21);
    border-radius: 3px;
    color: rgb(247, 175, 21);
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background-color:rgb(247, 175, 21);
    color:white;
}
#back-to-top.show {
    opacity: 1;
}
#content {
    height: 2000px;
}

#chitietbaiviet{
    width: 960px;
    height: auto;
}
#main-card-title{
    font-size: 20pt;
}
#main-card-tomtat{
    padding-top: 20px;
    font-size: 14pt;
}

#editor1{
    height: 1000px;
}
