<template>
  <div>
      <div class="card mt-2" id="binhluan-card" v-for="binhluan in binhluans" :key="binhluan.id">
        <div class="card-header" id="binhluan-card-header">
            <p>{{binhluan.MaNhanVien}}</p>
        </div>
        <div class="card-body">
            <p>{{binhluan.NoiDung}}</p>
            <small>Được tạo: {{binhluan.created_at | formatDate}}</small>
            <a v-if="binhluan.MaNhanVien == manhanvien" id="acustom-xoa" data-toggle="modal" data-target="#XoaBinhLuan_Modal" @click="modalDelete(binhluan.id)">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
            <a v-if="QuyenHan" id="acustom-ban" data-toggle="modal" data-target="#BoKichHoat_Modal" @click="modalKichHoat(binhluan.id)"><i class="fas fa-ban"></i></a>
            <a v-if="binhluan.MaNhanVien == manhanvien" id="acustom-sua" data-toggle="modal" data-target="#SuaBinhLuan_Modal" @click="modalUpdate(binhluan.id,binhluan.MaNhanVien,binhluan.NoiDung)">
                <i class="fa fa-cog" aria-hidden="true"></i>
            </a>
        </div>
      </div>
      <nav aria-label="...">
        <ul class="pagination mt-2">
            <li v-show="next_page_url" class="page-item">
                <a  class="btn btn-outline-success" id="button-xemthem" @click="fetchBinhLuan(nextpageURL)">Xem thêm</a>
            </li>
            <li v-show="prev_page_url" class="page-item">
                <a  class="btn btn-outline-primary ml-2" id="button-quaylai" @click="fetchBinhLuan(prevpageURL)">Quay lại</a>
            </li>
        </ul>
    </nav>
    <!--Modal Sửa bình luận -->
    <div class="modal fade" id="SuaBinhLuan_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modalcustom">
        <div class="modal-header modalcustom-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Sửa bình luận</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modalcustom-body">
            <form class="form-group">
                <textarea v-model="binhluan.NoiDung" id="NoiDung" class="form-control" style="height: 150px"></textarea>
            </form>
            <div class="text-center">
                <button  class="btn btn-sua" @click="updateBinhLuan(binhluan.id,binhluan.NoiDung)" data-dismiss="modal">Sửa bình luận</button>
                <button  class="btn btn-dong" data-dismiss="modal">Đóng</button>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- Modal bỏ kích hoạt bình luận -->
    <div class="modal fade" id="BoKichHoat_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modalcustom">
        <div class="modal-header modalcustom-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Bỏ kích hoạt bình luận này</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modalcustom-body">
            <div class="text-center">
                <button  class="btn btn-sua" @click="bokichhoatBinhLuan(binhluan.id)" data-dismiss="modal">Đồng ý</button>
                <button  class="btn btn-dong" data-dismiss="modal">Không</button>
            </div>
        </div>
        </div>
    </div>
    </div>
    <!-- Modal xóa bình luận -->
    <div class="modal fade" id="XoaBinhLuan_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modalcustom">
        <div class="modal-header modalcustom-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Xóa bình luận này</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body modalcustom-body">
            <div class="text-center">
                <button  class="btn btn-sua" @click="deleteBinhLuan(binhluan.id)" data-dismiss="modal">Đồng ý</button>
                <button  class="btn btn-dong" data-dismiss="modal">Không</button>
            </div>
        </div>
        </div>
    </div>
    </div>
  </div>
</template>
<script>
import { eventBus } from '../../app.js';
import axios from 'axios';
  export default {
    props: ['mabaiviet','manhanvien','quyenhannv','bl_csrf_token'],
    data() {
      return {
          binhluans: [],
          binhluan: {
              id: '',
              MaNhanVien: '',
              NoiDung: '',
          },
          showModal: false,
          binhluan_id: '',
          pagination: [],
          edit: false,
          last_page: '',
          next_page_url: '',
          prev_page_url: '',
          first_page: '',
          current_page: ''
      }
    },
    created(){
        this.fetchBinhLuan()
        eventBus.$on('addbinhLuan',() => {
            this.fetchBinhLuan()
        })
    },
    methods: {
        fetchBinhLuan(page_url){
            let vm = this;
            page_url = page_url || 'http://localhost:8000/api/binhluan?id='+this.mabaiviet
            axios.get(page_url)
            .then(response => {
                this.binhluans = response.data.data
                this.next_page_url = response.data.links.next
                this.prev_page_url = response.data.links.prev
                this.last_page = response.data.links.last
                this.first_page = response.data.links.first
            }).catch(err =>{
                console.log(err)
            })
        },
        deleteBinhLuan(id_binhluan){
            axios.post('http://localhost:8000/api/binhluan/xoa',{
                id: id_binhluan,
                csrf_token: this.bl_csrf_token
            }).then(res => {
                this.fetchBinhLuan()
                console.log(res.data)
            }).catch(err => {
                console.log(err)
            })
        },
        updateBinhLuan(id_binhluan,noidung){
            axios.post('http://localhost:8000/api/binhluan/update',{
                id: id_binhluan,
                NoiDung: noidung,
                csrf_token: this.bl_csrf_token
            }).then(res => {
                this.fetchBinhLuan()
            }).catch(err => {
                console.log(err)
            })
        },
        bokichhoatBinhLuan(id_binhluan){
            axios.post('http://localhost:8000/api/binhluan/bokichhoat',{
                id: id_binhluan,
                csrf_token: this.bl_csrf_token
            }).then(res => {
                this.fetchBinhLuan()
            }).catch(err => {
                console.log(err)
            })
        },
        modalDelete(id){
            this.binhluan.id = id
        },
        modalUpdate(id,MaNhanVien,NoiDung){
            this.binhluan.id = id
            this.binhluan.MaNhanVien = MaNhanVien
            this.binhluan.NoiDung = NoiDung
        },
        modalKichHoat(id){
            this.binhluan.id = id
        },
    },
    computed: {
        nextpageURL(){
            return this.next_page_url+'&id='+this.mabaiviet
        },
        prevpageURL(){
            return this.prev_page_url+'&id='+this.mabaiviet
        },
        formatDay(){
            return this.binhluans.binhluan.created_at
        },
        QuyenHan(){
            if(this.quyenhannv == 'quanly') return true
            else return false
        }
    }
  }
</script>

<style scoped>

</style>
