<template>
    <div>
        <binhluan-add
            :addMabaiviet="mabaiviet"
            :addManhanvien="manhanvien"
            :addDangnhap="dangnhap"
            :add_csrf_token="csrf_token"
        ></binhluan-add>
       <binh-luan :mabaiviet="mabaiviet" :manhanvien="manhanvien" :quyenhannv="quyenhan" :bl_csrf_token="csrf_token"></binh-luan>
    </div>
</template>
<script>

import BinhLuan from './BinhLuan.vue';
import BinhLuanAdd from './BinhLuanAdd.vue';
export default {
    props: ['manhanvien','mabaiviet','dangnhap','quyenhan','csrf_token'],
    components: {
        'binhluan-add': BinhLuanAdd,
        'binh-luan': BinhLuan,
    },
    methods: {

    }
}
</script>
