<template>
    <div>
        <h4>Bình luận</h4>
        <div class="form-group">
            <form >
                    <textarea name=""
                    v-model="noidung" class="form-control"
                    :placeholder="binhluanText"
                    v-on:keyup.enter="postBinhluan()"
                    ref="infoTextarea"
                    id="" cols="30" rows="5"></textarea>
                    <div v-if="kiemtra"><small>{{textKiemtra}}</small></div>
                    <button class="btn mt-3" id="button-xemthem" @click.prevent="postBinhluan()">Đăng bình luận <i class="fa fa-comment" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>

</template>

<script>
import { eventBus } from '../../app.js';
    export default {
       data(){
           return {
                noidung: '',
                text: '',
                binhluanText: 'Bạn hãy nhập gì đó',
                thembinhluan: true,
                kiemtra: false,
                addbinhluan: false,
                textKiemtra: ''
           }
       },
       props: ['addMabaiviet','addManhanvien','addDangnhap','add_csrf_token'],
       methods: {
           postBinhluan(){
               if(this.addDangnhap == true){
                    if(this.noidung != '' && this.noidung.length < 600){
                    axios.post('http://localhost:8000/api/binhluan',{
                    csrf_token: this.add_csrf_token,
                    'noidung': this.noidung,
                    'mabaiviet': this.addMabaiviet,
                    'manhanvien': this.addManhanvien,
                    })
                        eventBus.$emit('addbinhLuan',this.thembinhluan);
                        this.noidung = ''
                        this.kiemtra = false
                    }else if(this.noidung.length >= 600){
                        this.kiemtra= true
                        this.textKiemtra = "Bạn nhập quá giới hạn cho phép"
                    }else if(this.noidung == ''){
                        this.kiemtra= true
                        this.textKiemtra = "Không được bỏ trống"
                    }
               }else{
                    this.kiemtra= true
                    this.noidung =''
                    this.textKiemtra = "Bạn cần đăng nhập để bình luận"
               }
           }
       },
       computed: {
       }

   }
</script>




<style scoped>

</style>
