<template>

<div class="ml-3" id="baiviet">
    <div class="row" v-for="baiviet in baiviets" :key="baiviet.id">
        <div class="card mb-3 mt-4" style="width: 1105px;">
                <div class="row no-gutters">
                    <div class="col-2">
                        <a v-bind:href="baseURL+'/'+baiviet.TieuDeKhongDau"><img v-bind:src="'/storage/cover_images/'+baiviet.HinhAnh_Bia" class="card-img" style="height: 200px;width: 200px;" alt="..."></a>
                    </div>
                    <div class="col-8" style="padding-left:55px;">
                    <a v-bind:href="`baiviet/tieude/${baiviet.TieuDeKhongDau}`">
                        <div class="card-body">
                        <h5 class="card-title">{{baiviet.TieuDe.slice(0,150)}}</h5>
                        <p class="card-text">{{baiviet.TomTat.slice(0,200)}}</p>
                        <p class="card-text card-bottom"><small class="text-muted">Đăng vào lúc: {{baiviet.created_at | formatDate}}</small></p>
                        </div>
                    </a>
                    </div>
                </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn" id="button-xemthem" @click="fetch_more()"><span v-html="buttonText">{{ buttonText }}</span></button>
    </div>
</div>


</template>

<script>
    export default {
        data(){
            return {
                baiviets: [],
                row: 0, // Record selction position
                buttonText: 'Xem thêm',
                url: ''
            }
        },
        props: ['machude','lastid'],
        created(){
            this.fetch();
        },
        methods: {
            fetch(){
                axios.get('http://localhost:8000/api/chude_loadmore',{
                   params: {
                       offset: this.row,
                       machude: this.machude,
                       id: this.lastid
                   }
                }).then((response) => {
                        if(response.data !=''){
                            if(this.baiviets.length != ''){
                                    setTimeout(()=>{
                                    for(let i=0;i < response.data.length;i++){
                                    this.baiviets.push(response.data[i]);
                                    }
                                    this.buttonText = "Xem thêm"
                                },500)

                            }else{
                                this.baiviets = response.data;
                                this.row += 3;
                            }
                        }else{
                            this.buttonText = "Không còn bài viết"
                        }

                });
             },
             fetch_more(){
                 this.row += 3;
                 this.buttonText = "Đảng tải dữ liệu <i class='fas fa-spin fa-spinner'></i>"
                 this.fetch();
             },
         },
         computed: {
             baseURL(){
                 this.url = window.location.origin;
                 return this.url;
             }
         }
}
</script>

<style scoped>

</style>
