<template>
    <div class="form-group">
        <h4>Tìm kiếm bài viết</h4>
        <div style="padding-top: 16px;">
            <input type="text" placeholder="Nhập tên bài viết cần tìm..." v-model="search" style="width: 400px;" @keyup.enter="searchBaiViet()">
            <button class="btn ml-2" id="button-xemthem" @click="searchBaiViet()">Tìm kiếm</button>
        </div>
        <small v-if="kiemtra">Có {{baiviets.length}} bài viết tìm được</small>
        <div class="row" v-for="baiviet in baiviets" :key="baiviet.id">
                <div class="card mb-3 mt-3" style="width: 600px">
                        <div class="row no-gutters">
                            <div class="col-2">
                                <a :href="'/baiviet/tieude/'+baiviet.TieuDeKhongDau"><img :src="'/storage/cover_images/'+baiviet.HinhAnh_Bia" class="card-img" style="height: 200px;width: 200px;" alt="..."></a>
                            </div>
                            <div class="col-8" style="padding-left: 100px;">
                            <a :href="'/baiviet/tieude/'+baiviet.TieuDeKhongDau">
                                <div class="card-body">
                                <h5 class="card-title">{{baiviet.TieuDe.slice(0,100)}}...</h5>
                                <p class="card-text">{{baiviet.TomTat.slice(0,60)}}...</p>
                                <p class="card-text card-bottom"><small class="text-muted">Đăng vào lúc: {{baiviet.created_at | formatDate }}</small></p>
                                </div>
                            </a>
                            </div>
                        </div>
                </div>
                <div style="padding-left: 200px;" v-if="quyenhan == 'quanly'">
                    <a :href="'/quanly/baiviet/sua/'+baiviet.id" class="btn" id="button-xemthem"><i class="fas fa-tools"></i> Sửa</a>
                    <a :href="'/quanly/baiviet/xoa/'+baiviet.id" class="btn" id="button-quaylai" onclick='return confirm("Bạn có chắc xóa bài viết này?")' ><i class="fas fa-trash"></i> Xóa</a>
                </div>
        </div>
    </div>

</template>

<script>
export default {
    data(){
        return {
            baiviets: [],
            search: '',
            kiemtra: false,
        }
    },
    props: ['quyenhan'],
    methods: {
        searchBaiViet(){
            axios.post('http://localhost:8000/api/search',{
                search: this.search
            }).then(response => {
                this.baiviets = response.data
            })
            this.kiemtra = true
        },
    },
}
</script>
